/* Declaring root variable for whole project */
:root {
  --primary-color: #FF0000;
  --secondary-color:#BBBBBB;
  --tatiary-color:#F5F5F5;
}



/* Preventing default  */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}
ul{
  padding: 0px;
}
li{
  padding: 0px;
}

.btn-check:active+.btn-outline-secondary:focus, .btn-check:checked+.btn-outline-secondary:focus, .btn-outline-secondary.active:focus, .btn-outline-secondary.dropdown-toggle.show:focus, .btn-outline-secondary:active:focus
{
  box-shadow: none;
  border:none;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: transparent;
  box-shadow: none;
  
}
.img-fluid{
}
::placeholder{
  color: var(--secondary-color);
  font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;

}
/* Preventing default ended  */



.primary{
  color:var(--primary-color);
}

.secondary{
  color: var(--secondary-color);
}
.tartiary{
  color: var(--tatiary-color);
}

.btn-primary{
  background-color: var(--primary-color);
  border: none;
  color: white;
}

.btn-outline-secondary{
  background-color: var(--tatiary-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

/*! Custom  container for this project */
@media (min-width: 1400px) {
  .container {
    max-width: 1520px !important;
  }
}

.main {
  /*will remove*/
  width: 100%;
  height: 1200px;
  background: rebeccapurple;
}

header.custom_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.custom_header .top-header {
  background: #d1d1d1;
  padding: 9px 0;
}

.custom_header .top-header .top_header ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.custom_header .top-header .top_header ul li {
  list-style: none;
  margin-right: 50px;
  position: relative;
}

.custom_header .top-header .top_header ul li::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 20px;
  background: #7d7d7d;
  top: 0;
  right: -25px;
}

.custom_header .top-header .top_header ul li:last-child:after {
  display: none;
}

.custom_header
  .top-header
  .top_header
  ul
  li::after:last-child {
  display: none;
}

.custom_header .top-header .top_header ul li a {
  text-decoration: none;
  font-size: 14px;
  line-height: 21px;
  color: #7d7d7d;
  font-weight: 400;
  align-items: center;
  display: flex;
}

.custom_header .top-header .top_header ul li a svg {
  margin-right: 12px;
}

.custom_header .top-header .top_header_right ul {
  display: flex;
  margin: 0;
}

.custom_header .top-header .top_header_right ul li a {
  text-decoration: none;
  font-size: 14px;
  line-height: 21px;
  color: #787e8d;
  font-weight: 400;
  align-items: center;
  display: flex;
  position: relative;
}

.custom_header .form_select {
  background-color: transparent;
  font-size: 14px;
  color: #787e8d;
  border-radius: 0;
  border: 0;
}

.custom_header .top-header .top_header_right ul li a svg {
  margin-right: 12px;
}

.custom_header .top-header .top_header_right ul li {
  list-style: none;
  margin-right: 50px;
}

.custom_header .top-header .top_header_right ul li:last-child {
  margin-right: 0px;
}

.desktop_nav {
  background: #ff0000;
  padding: 7px 0;
}

.all_department ul {
  margin-bottom: 0;
  padding: 0;
}

.all_department ul li {
  list-style: none;
}

.all_department ul li a {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  align-items: center;
  display: flex;
}

.all_department ul li a svg {
  margin-right: 18px;
}

.desktop_nav_items ul {
  margin: 0;
  display: flex;
}

.desktop_nav_items ul li {
  margin: 0px 20px;
  list-style: none;
}

.desktop_nav_items ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
}

.hotline_area ul {
  display: flex;
  margin: 0;
}

.hotline_area ul li {
  list-style: none;
}

.hotline_area ul li a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: #fff !important;
  text-decoration: none;
}

.hotline_area ul li a svg {
  margin-right: 15px;
}

.mid_header {
  padding: 12px 0px;
  background: #fff;
}

.new-custom-main-cart {
  display: flex;
  align-items: center;
  background: rgba(255, 0, 0, 0.05);
  border: 1px solid rgba(255, 0, 0, 0.1);
  border-radius: 4px;
  padding: 5px 10px;
  max-width: 141px;
  cursor: pointer;
}

.custom-cart-context {
  margin-left: 11px;
}

.custom-item-cart {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #787e8d80;
}

.custom-item-cart span {
  color: #787e8d !important;
  margin-left: 10px;
}

.custom-item-cart-price {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #787e8d80;
}

.custom-item-cart-price span {
  color: #ff0000;
  margin-left: 10px;
}

.header_user_area ul {
  display: flex;
  margin: 0;
}

.header_user_area ul li {
  list-style: none;
  margin-right: 50px;
}

.header_user_area ul li:last-child {
  margin-right: 44px;
}

.header_user_area ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-weight: 500;
}

.header_user_area ul li a svg {
  margin-right: 10px;
}

/*new category menu*/
.all_department_menu {
  background: #fff;
  padding: 15px 0;
  display: none; /** display none by default*/
}

.all_department_menu .all_department_menu-items ul {
  display: flex;
  margin-bottom: 0;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.all_department_menu .all_department_menu-items ul li {
  list-style: none;
}

.all_department_menu .all_department_menu-items ul li a {
  color: #787e8d;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  transition: 0.5s;
}

.all_department_menu .all_department_menu-items ul li a:hover {
  color: #ff0000;
}

.all_department_menu .all_department_menu-items ul li a img {
  display: block;
  margin: 0 auto;
}

.all_department-mega-menu {
  display: block;
}

.all_department_menu .all_department_menu-items ul li a span {
  display: block;
}

.all_department-mega-menu-items {
  height: 600px;
  background: #f2f4f8;
  border-radius: 10px;
  margin-top: 15px;
}

/* Header search bar  */
.custom_header .search_bar{
  max-width: 648px;
  width: 100%;
  margin: auto;
  min-height: 41px;
}
.custom_header .search_bar .dropdown-toggle::after{
  display: none;
}
.custom_header .search_bar .dropdown-toggle{
  background-color: var(--secondary-color);
  color: rgba(38, 50, 56, 1);
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #263238;
}

.custom_header .search_bar .search_btn{
  background-color: var(--primary-color);
  color: white;
  border:none;
}

.custom_header .search_bar  input{
  background-color: #F7F7F7;
  border-color: #F7F7F7;
}
.custom_header .search_bar .search_btn:focus{
  border:none;
  box-shadow: none;
}

.custom_header .header_user_area .login_btn{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #FF0000;
}


/* Navbar responsive */
@media screen and (max-width:1400px){
  .desktop_nav_items ul li a, .all_department ul li a, .hotline_area ul li a {
    font-size: 14px;
}
.desktop_nav_items ul li{
  margin: 0px 10px;
}
.hotline_area span{
  display: none;
}
.all_department span{
  display: none;
}
@media screen and (max-width:992px){
  .container{
      max-width: 100% !important;
  }
}
}