/* Declaring root variable for whole project */
:root {
  --primary-color: #FF0000;
  --secondary-color:#BBBBBB;
  --tatiary-color:#F5F5F5;
  --title-color : #474C5A;
}

body{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  height: 100vh;
  z-index: 0;
}

/* Code for creating custom gap left right   */
@media screen and (max-width:1600px){
  #page_content{
    max-width: 90%;
    width: 100%;
    margin: auto;
  }
}
@media screen and (max-width:992px){

  #page_content{
    max-width: 100%;
    width: 100%;
    margin: auto;
  }
}
.square_product .counter_btn{
  height: 27px;
  align-items: center;
  margin-bottom: 5px;
}
/* Code for creating custom gap ended left right   */


#preloader {
  font-family: 'Poppins';
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 99999;
  background: white;

}
.loading {
text-align: center;
font-weight: 700;
font-size: 64px;
line-height: 68px;
text-align: center;
color: var(--primary-color);
margin-bottom: 41px;
}
.coming{
  font-weight: 700;
  font-size: 64px;
  line-height: 68px;
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 41px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 10px);
}


.loading span {
  display: inline-block;
  margin: 0 -0.05em;
}
/* code #1 */
.loading01 span {
  animation: loading01 1s infinite alternate;
}
.loading01 span:nth-child(1) {
  animation-delay: 0s;
}
.loading01 span:nth-child(2) {
  animation-delay: 0.1s;
}
.loading01 span:nth-child(3) {
  animation-delay: 0.2s;
}
.loading01 span:nth-child(4) {
  animation-delay: 0.3s;
}
.loading01 span:nth-child(5) {
  animation-delay: 0.4s;
}
.loading01 span:nth-child(6) {
  animation-delay: 0.5s;
}
.loading01 span:nth-child(7) {
  animation-delay: 0.6s;
}
@keyframes loading01 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


input{
  accent-color: var(--primary-color);
}
.tab-pane{
  offset: unset;
}
.mid_header .dropdown-item:focus, .dropdown-item:hover {
  color: white;
  background-color: var(--primary-color);
}
.mid_header .search_bar .dropdown-menu a{
  display: flex;
  align-items: center;
}
.mid_header .search_bar .dropdown-menu img{
  width: 20px;
  margin-right: 10px;
}

/* Preventing default  */

.btn-dark {
  background: #BEBEBE;
  border-radius: 10px;
  color: white;
  border: 1px solid #BEBEBE;
}
.btn-outline-dark{
  color: #C4C4C4;
  border: 1px solid #C4C4C4;;
}

.btn-outline-dark:hover{
  background-color:white;
  border:1px solid  var(--primary-color) !important;
  color: var(--primary-color);
}


.btn:focus {
  box-shadow: none !important;
}
.btn-primary{
  border: 1px solid transparent !important;
}
.btn-primary:hover{
  background-color:white;
  border:1px solid  var(--primary-color) !important;
  color: var(--primary-color);
}

.btn-primary:hover svg path{
  stroke:var(--primary-color)
}


.btn-outline-primary{
    color: var(--primary-color);
    border-color: var(--primary-color);
  

}
.btn-outline-primary:hover{
  color: white;
  border-color: var(--primary-color);
  background-color: var(--primary-color);   
}
.btn-outline-primary svg{
  transition: .5s;
}
.btn-outline-primary:hover svg path{
  stroke:white
}


* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  /* overflow: unset; */
}
.body_scroll_lock{
  overflow: hidden;
}

ul, li, a, p, h1, h2, h3, h4, h5, h6, p{
  padding: 0px;
  margin: 0px;
}


.btn-check:active+.btn-outline-secondary:focus, .btn-check:checked+.btn-outline-secondary:focus, .btn-outline-secondary.active:focus, .btn-outline-secondary.dropdown-toggle.show:focus, .btn-outline-secondary:active:focus
{
  box-shadow: none;
  border:none;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  box-shadow: 0 0 0 0.25rem rgb(255 0 0 / 25%) !important;
  
}

::placeholder{
  color: var(--secondary-color);
  font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;

}

::-webkit-scrollbar{
  width: 0px;
}
/* Preventing default ended  */



.primary{
  color:var(--primary-color);
}

.secondary{
  color: var(--secondary-color);
}
.tartiary{
  color: var(--tatiary-color);
}

.btn-primary{
  background-color: var(--primary-color);
  border: none;
  color: white;
}

.btn-outline-secondary{
  background-color: var(--tatiary-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

/*! Custom  container for this project */



@media (min-width: 1400px) {
  .container {
    max-width: 1520px !important;
  }
}




@media  (min-width: 1200px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1520px !important;
      width: 95%;
  }
}
#page_content {
  width: 100%;
  min-height: 80vh;
}



#desktop_header{
  margin-bottom: 155px;
}

#categoryMenuToggle svg{
  height: 16px;
  width: 20px;
  fill: white;
}
header.custom_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.custom_header .top-header {
  background: #d1d1d1;
  padding: 6px 0;
}
.top-header .row{
  align-items: center;
}

.custom_header .top-header .top_header ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.custom_header .top-header .top_header ul li {
  list-style: none;
  margin-right: 50px;
  position: relative;
}

.custom_header .top-header .top_header ul li::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 20px;
  background: #7d7d7d;
  top: 0;
  right: -25px;
}

.custom_header .top-header .top_header ul li:last-child:after {
  display: none;
}

.custom_header
  .top-header
  .top_header
  ul
  li::after:last-child {
  display: none;
}

.custom_header .top-header .top_header ul li a {
  text-decoration: none;
  font-size: 14px;
  line-height: 21px;
  color: #7d7d7d;
  font-weight: 400;
  align-items: center;
  display: flex;
}

.custom_header .top-header .top_header ul li a svg {
  margin-right: 12px;
}

.custom_header .top-header .top_header_right ul {
  display: flex;
  margin: 0;
}

.custom_header .top-header .top_header_right ul li a {
  text-decoration: none;
  font-size: 14px;
  line-height: 21px;
  color: #787e8d;
  font-weight: 400;
  align-items: center;
  display: flex;
  position: relative;
}

.custom_header .form_select {
  background-color: transparent;
  font-size: 14px;
  color: #787e8d;
  border-radius: 0;
  border: 0;
  cursor: pointer;
}

.custom_header .top-header .top_header_right ul li a svg {
  margin-right: 12px;
}

.custom_header .top-header .top_header_right ul li {
  list-style: none;
  margin-right: 50px;
}

.custom_header .top-header .top_header_right ul li:last-child {
  margin-right: 0px;
}

.desktop_nav {
  background: var(--primary-color);
  padding: 7px 0;
}

.all_department ul {
  margin-bottom: 0;
  padding: 0;
}

.all_department ul li {
  list-style: none;
}

.all_department ul li a {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  align-items: center;
  display: flex;
}

.all_department ul li a svg {
  margin-right: 18px;
}

.desktop_nav_items ul {
  margin: 0;
  display: flex;
}

.desktop_nav_items ul li {
  margin: 0px 20px;
  list-style: none;
}

.desktop_nav_items ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* text-transform: capitalize; */
}

.hotline_area ul {
  display: flex;
  margin: 0;
}

.hotline_area ul li {
  list-style: none;
}

.hotline_area ul li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: #fff !important;
  text-decoration: none;
}

.hotline_area ul li a svg {
  margin-right: 4px;
}

.hotline_area ul li a span{
  margin-right: 8px;
}

.mid_header {
  padding: 12px 0px;
  background: #fff;
}

.desktop_cart_box {
  display: flex;
  align-items: center;
  background: rgba(255, 0, 0, 0.05);
  border: 1px solid rgba(255, 0, 0, 0.1);
  border-radius: 4px;
  padding: 5px 10px;
  max-width: 141px;
  cursor: pointer;
}

/* Desk top cart css  */
.cart_arrow{       
  height: 60px;
  width: 30px;
  background-color: white;
  transform: rotate(43deg);
  top: -18px;
  position: absolute;
  right: 84px;
  z-index: 1;
  background: #FFFFFF;
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}
.desktop_cart{
  position: absolute;
  left: 0px;
  top: 50px;
  min-height: 80vh;
  transform: translate(-85%, 65px);
  width: 500px;
  border-radius: 15px;
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.15);
  opacity: 0;
  visibility: hidden;
  transition: .5s;
  z-index: 10;

}
.desktop_cart_content{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  border-radius: 15px;
  background-color: white;
  overflow: scroll;
}
.desktop_cart_content .carted_items:last-child{
  margin-bottom: 45px;
}

.light_badge{
  padding: 5px;
  background-color: var(--primary-color);
}
.desktop_cart_box:hover .desktop_cart{
  top: 0px;
  opacity: 1;
  visibility: visible;
}

/* Desktop place order component here  */
.desktop_place_order  button{
  border: none;
}


.desktop_place_order {
  background: #FFFFFF;
  box-shadow: 0px -4px 40px rgba(0, 0, 0, 0.15);
  position: fixed;
  width: 100%;
  bottom: 0px;
  border: 1px solid var(--primary-color);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;  
  }


.desktop_place_order  button:first-child{
  padding: 9px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
  background: var(--primary-color);
  border-bottom-left-radius: 15px;
}



.desktop_place_order button{
  width: 49%;
}
.desktop_place_order button:last-child{
  padding: 9px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: var(--primary-color);
  background: white;
  border-bottom-right-radius: 15px;
}
.desktop_place_order button:last-child span{
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #DADADA;
}


/* -----------  */

.carted_infos {
  margin-left: 11px;
  position: relative;
}

.carted_item {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #787e8d80;
}

.carted_item span {
  color: var(--primary-color) !important;
  margin-left: 10px;
}

.carted_item_price {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: var(--primary-color);
}

.carted_item-price span {
  color: var(--primary-color);
  margin-left: 10px;
}
.carted_item_price span:first-child{
  opacity: .4;
}

.header_user_area ul {
  display: flex;
  margin: 0;
}

.header_user_area ul li {
  list-style: none;
  margin-right: 50px;
}

.header_user_area ul li:last-child {
  margin-right: 44px;
}

.header_user_area ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-weight: 500;
}

.header_user_area ul li a svg {
  margin-right: 5px;
  height: 20px;
}

/*new category menu*/
.all_department_menu {
  background: #fff;
  padding: 15px 0;
  display: none; /** display none by default*/
}

.all_department_menu .department_items ul.float_nav_item {
  display: flex;
  margin-bottom: 0;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.all_department_menu .department_items ul li {
  list-style: none;
}
.all_department_menu .department_items ul li:last-child a{
  margin-bottom: 80px;
}

.all_department_menu .department_items ul>li a {
  color: #787e8d;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  transition: 0.2s;
}

.float_nav_item >li a:hover {
  color: var(--primary-color);
  -webkit-filter: invert(0%) grayscale(100%) brightness(93%) sepia(81%) hue-rotate(-49deg) saturate(400%) contrast(5);
}

.all_department_menu .department_items ul li a img {
  display: block;
  margin: 0 auto;
}

.all_department-mega-menu {
  display: block;
}

.all_department_menu .department_items ul li a span {
  display: block;
}

.all_department-mega-menu-items {
  height: 600px;
  background: #f2f4f8;
  border-radius: 10px;
  margin-top: 15px;
}

/* Header search bar  */
.search_bar input:focus{
  box-shadow: none !important;
}
.custom_header .search_bar{
  max-width: 648px;
  width: 100%;
  margin: auto;
  min-height: 41px;
}
.custom_header .search_bar .dropdown-toggle::after{
  display: none;
}
.custom_header .search_bar .dropdown-toggle{
  background-color: #e9e9e9;
  color: rgba(38, 50, 56, 1);
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #263238;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.custom_header .search_bar .search_btn{
  background-color: var(--primary-color);
  color: white;
  border:none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.custom_header .search_bar  input{
  background-color: #F7F7F7;
  border-color: #F7F7F7;
}
.custom_header .search_bar .search_btn:focus{
  border:none;
  box-shadow: none;
}

.custom_header .header_user_area .sign_in_btn{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: var(--primary-color);
}


.all_department_menu{
  position: relative;
  box-shadow: 4px 4px 40px rgb(0 0 0 / 8%);
}

.department_items .nav_mega_menu {
  position: absolute;
  top: 150%;
  transition: .5s;
  left: 50%;
  transform: translate(-50%, -10%);
  width: 95%;
  background: #F2F4F8;
  border-radius: 10px;
  max-height: 622px;
  overflow: scroll;
  visibility: hidden;
  opacity: 0;
  padding-left: calc(2% + 26px);
}
.department_items ul  li:hover .nav_mega_menu{
  top:165%;
  visibility:visible;
  opacity: 1;
}

.nav_mega_menu .title{
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--title-color);
  margin-bottom: 24px;
}
.nav_mega_sub_items a{
  font-style: normal;
  font-weight: 400;
  font-size: 14px !important;
  line-height: 21px !important;
  color: #787E8D !important;
  margin-bottom: 5px;
  transition: .5s;
}
.nav_mega_sub_items a:hover{
  color: var(--primary-color) !important;
}


.nav_mega_menu .nav_mega_content {
  max-width: 1800px;
  padding:30px 10px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
.nav_mega_item {
  margin: 0px 15px;
  margin-bottom: 64px;
  max-width: 200px;
  width: 100%;
}



/* Mobile header  */


#mobile_header{
  width: 100%;
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
}

.mobile_top_bar{
  min-height: 60px;
  background-color: var(--primary-color);
  display: inline-grid;
}
.mobile_search_cart_btn{
  width: 65px !important;
  margin-left: auto;
}
.mobile_search_cart_btn a{
  text-decoration: none;
}
.mobile_menu_closer{
  padding: 5px 12px;
  background-color: #F7F7F7;
}
.mobile_search_cart_btn a:first-child {
}
.mobile_menu_content{
  position: absolute;
  width: 100%;
  right: 100%;
  height: 100vh;
  transition: .5s;
  z-index: 1;
  background-color: white;
  overflow: scroll;
}
.accordion-collapse.show{
  transition: 4s;
}

.mobile_content_switch{
  right: 0% !important;
  z-index: 990;
}

.mobile_cat .all_department_menu{
  padding: 0px;
  position: relative;
  height: 100vh;
}

.mobile_cat .department_items{
  max-width: 94px;
  width: 100%;
  position: relative;
  height: 100vh;
  overflow: scroll;
  position: absolute;
  left: 0px;
  padding-bottom: 42px;
}

.mobile_cat ul{
  margin-bottom: 0px;
}

.mobile_cat ul li{
  background-color: #f9f9f9;
  padding: 5px;
}

.mobile_cat .nav{
  display: block !important;
}
.mobile_cat ul li a.active span{
  color: var(--primary-color);
}
.mobile_cat ul li a.active{
  background-color: transparent !important;
}

.mobile_cat ul li a.active img {
  -webkit-filter: invert(0%) grayscale(100%) brightness(93%) sepia(81%) hue-rotate(-49deg) saturate(400%) contrast(5);
}

.mobile_cat .mobile_item_heading h5{
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: var(--primary-color);
  margin-top: 17px;
  margin-bottom: 15px;
}
.mobile_cat .accordion-item {
  background-color: #fff;
  border: none;
}
.mobile_cat .accordion-button:not(.collapsed) {
  color: #3B3D4A;
  background-color: transparent;
  box-shadow: none;
}
.mobile_cat .accordion-button:not(.collapsed)::after {
  background-image:url(../images/icons/arrow.png);
  transform: rotate(-180deg);
}
.mobile_cat .accordion-button::after {
  background-image:url(../images/icons/arrow.png);
}

.mobile_cat .accordion-button:focus {
  z-index: 0;
  border-color: none;
  outline: 0;
  box-shadow:none;

  background: #F9F9F9;
border-radius: 8px;
}

.mobile_cat .accordion-button{
  padding: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
  color: #3B3D4A;
  padding: 10px 5px;
}

.mobile_cat .mobile_sub_item ul li{
  list-style: none;
  background: white;
  padding-bottom: 11px;
  padding-top: 0px;
}

.mobile_cat .mobile_sub_item ul li a{
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-transform: capitalize;
  color: #3B3D4A;
  text-decoration: none;
}

.mobile_cat .accordion-body {
  padding: 0px 10px;
  overflow: scroll;
}

.mobile_cat .tab-content>.tab-pane {
  overflow: scroll;
  height: calc(100vh + 60px);
}


/* Mobile menu code started  */
.mobile_menu{
  display: none !important;
}

.mobile_menu {
  min-height: 60px;
  margin: auto;
  min-height: 60px;
  width: 100%;
  margin: auto;
  position: fixed;
  bottom:0px;
  background: white;
  padding: 0px 37px;
  box-shadow: 0px -4px 40px rgba(0, 0, 0, 0.1);
  z-index: 999;
}
.mobile_menu .mob_menu_item img{
margin: auto;
display: block;
}

.mobile_menu .mob_menu_item{
  margin-top: 8px;
}

.mobile_menu .mob_menu_item  a{
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  color: #92929D;
}
.mob_menu_item_active img{
  -webkit-filter: invert(0%) grayscale(100%) brightness(93%) sepia(81%) hue-rotate(-49deg) saturate(400%) contrast(5);
}
.mob_menu_item_active{
  color: var(--primary-color) !important;
}





/* MOdal code started from here  */
.modal {
  background: rgba(255, 255, 255, .3) !important;
  backdrop-filter: blur(8px);
  width: 100%;
}
.modal-content{
  border:none;
}
.modal_head svg{
  position: absolute;
  left: 30px;
  height: 20px;

}
.modal_heading h3{
  font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;
text-transform: uppercase;
color: #C4C4C4;
}

.modal-header,.modal-body, .modal-footer{
  border:none;
}
.modal_head small{
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
color: #797979;

}
.modal_head small a{
  color: var(--primary-color) !important;
  text-decoration: none ;
}

.modal-footer{
  justify-content: center !important;
}
.modal-footer button{
font-weight: 600;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
}
.modal label{
  margin-bottom: 10px;
}
.modal select{
  display: flex !important;
  align-items: center !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -27 40 67'%3e%3cpath fill='none' stroke='rgba(215, 215, 215, 1)' stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='M2 5l6 6 5-6'/%3e%3c/svg%3e") !important;
  background-repeat: no-repeat !important;
  background-position: right center !important;
  padding: 12px 15px !important;
}

.modal-header img{
  max-width: 200px;
  width: 100%;
}

.modal input, .modal select{
  background: #F7F7F7;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #D7D7D7;
  border-radius: 10px;
  padding: 15px !important;
  border: none;
}

.modal-content .counter_btn input{
  padding: 5px !important;
}
.modal .form_items{
  margin-bottom: 35px;
}

.modal-body{
  max-width: 350px;
  width: 100%;
  margin: auto;
}

.modal ::placeholder{
  color: rgba(215, 215, 215, 1) ;
}

.modal input {
  color: #000;
}
.modal-content{
  padding: 50px 20px;
}
.modal_text{
  max-width: 427px;
  width: 100%;
  margin: auto;
}
.modal_text p{
  font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
text-align: center;

color: #CECECE;
}

.modal .greeting_text svg{
  margin-bottom: 18px;
}

.modal .greeting_text h3{
  color: var(--primary-color);
}
.modal a.track_order{
  font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 36px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;
color:var(--primary-color);
text-decoration: none;
}
a.resend_code{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #DADADA;
}

.modal_text  span{
  font-size: 20px;
}


.form-control:focus {
  border: 1px solid #ddd;
}
.recover_pass {
  margin-top: 25px;
}
.recover_pass small{
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
color: #898989;
}

.recover_pass small a{
  color: 
  rgba(0, 0, 0, 1) !important;
}
/* MOdal code ended from here  */

/* Footer part started ----------------- */
/* ------------------------------------------- */


#footer{
  background-color:#373f50;
}
@media screen and (max-width:1202px){
  #footer{
    padding-bottom: 70px;
  }
  .product_details_page {
    margin-top: 90px !important;
}
}
#footer .top_footer .row{
  min-height: 329px;
}

#footer .footer_heading h3{
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  position: relative;
  margin-bottom: 30px;
}
#footer .hr{
  position: absolute;
  width: 20%;
  height: 4px;
  border-radius: 5px;
  background-color: white;
  margin-top: 5px;
}

.footer_social{
  margin-top: 28px;
}
.footer_social a{
  margin: 0px 8.5px;
  text-decoration: none;
}

.footer_options a{
  display: block;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding-bottom: 10.4px;


}
.footer_contact_option a{
  font-weight: 600;
font-size: 16px;
line-height: 24px;
}
.footer_logo img{
  max-width: 200px;
  width: 100%;
}
.tiny_footer{
  background-image: url(../images/footer/tiny_footer.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.tiny_footer .row{
  min-height: 83px;

}
.tiny_footer .tiny_text{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: 'liga';
  color: #FFFFFF;
}
.footer_seperator{
  height: 1px;
  background-color: #ffffff;
} 

.tiny_footer_images img{
  margin: 0px 8px;
  border-radius: 5px;
  width: 60px;
}



/* Code for footer ended */




           /* Find store css  */

           .find_store{
            background-color: transparent;
            height: 120px;
            border-radius: 25px;
            width: 100%;
            padding: 8px;
            margin-bottom: 21px;
            text-decoration: none;

          }

          .location_flinder{
            max-width: 374px;
          }

          .find_store .location_text{
            border-left: 3px solid white;
            padding-left: 22px;
          }
          .find_store svg{
            width: 25px;
            margin-right: 26px;
      
          }
          .find_store p{
            margin-bottom: 0px;
            font-weight: 500;
             font-size: 16px;
             line-height: 24px;
             display: flex;
             align-items: center;
             text-transform: uppercase;
             color: #FFFFFF;
          }
      
          .find_store a {
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 42px;
            display: flex;
            align-items: center;
            color: #FFFFFF;
            text-decoration: none;
        }
      
      /* Find store css ended  */

/* -------------------------------------------------- */
/* Footer part ended ----------------- */







/* Responsive  */

/* Navbar responsive + Mega menu desktop */
@media screen and (max-width:1400px){
  .desktop_nav_items ul li a, .all_department ul li a, .hotline_area ul li a {
    font-size: 14px;
}
.desktop_nav_items ul li{
  margin: 0px 10px;
}
.hotline_area span{
  display: none;
}

.nav_mega_menu .title{
  font-size: 14px;
  line-height: 10px;
}
.nav_mega_sub_items a{
  font-size: 12px !important;
}
.department_items .nav_mega_menu{
  width: 99%;
  padding-left: 5px;
}

}
@media screen and (max-width:1201px){
  .container{
      max-width: 100% !important;
  }
  .all_department_menu .department_items ul li a span {
    font-size: 11px;
}

.find_store {
  background-color: transparent;
  height: 120px

}
.find_store a{
  font-size: 18px;
}

.find_store p {
  font-size: 12px;
}


}



/* Mobile search screen started  xxx*/ 


.mobile_menu_content .search_bar button{
  background: var(--primary-color);
  border: 1px solid transparent;
}
.mobile_menu_content .search_bar input{
  background-color: #F7F7F7;
  border-color: #F7F7F7;
}
.mobile_menu_content ::placeholder{
  color: rgba(215, 215, 215, 1);
}
.mobile_menu_content .input-group{
  height: 40px;
  margin-top: 10px;
}


.tag_btn {
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  color: #C4C4C4;
  padding: 5px;
  border: 1.5px solid #F5F5F5;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: .5s;
  margin-right:5px ;
  font-weight: 400;
  text-transform: capitalize;
  display: inline-block;
  margin-bottom: 5px;
}
.mobile_search h3{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
  color: #44444F;
}
/* Mobile search screen ended  */

/* Mobile cart / bag screen started  */
.items_no h2{
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: var(--primary-color);
}
.menu_content_heading{
  background:#F4F4F4 ;
}
.add_item{
  padding: 0px 5px;
}
.menu_content_heading h4{
  padding: 8px 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #C4C4C4;
}
.carted_item_name{
  height: 70px;
}
.item_price{
  color: var(--primary-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.item_price span{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
color: #DADADA;
margin-right: 8px;
}
.carted_item_name h3{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #44444F;
  max-width: 162px;
  width: 100%;
}

.carted_items{
  border-bottom: 1px solid rgba(235, 235, 235, 1);
}
.carted_items:last-child{
  border-bottom:none;
}
.item_quantity{
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: rgba(21, 20, 57, 0.4);
}

.carted_image img{
  max-width: 100px;
  width: 100%;
}
.cart_counter{
  max-width: 90px;
  width: 100%;
  height: 70px;
}
.cart_counter button{
  width: 25%;
  background-color:white ;
  border:1px solid #EBEAED ;
  padding: 2px 0px;
  
}
.cart_counter  input{
  width: 50%;
  border:1px solid #EBEAED ;
  border-radius: 0px !important;
  background-color: white !important;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-color);
  padding-top: 0px;
  padding-bottom: 0px;
}

.mobile_cart .carted_items:last-child{
  margin-bottom: 170px;
}

.cart_counter button:first-child{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: none;
}

.cart_counter button:last-child{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.mobile_place_order button{
  border: none;
}

.mobile_place_order button:first-child{
  padding: 6px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 36px;
  color: #FFFFFF;
  background: var(--primary-color);
}

.mobile_place_order{
background: #FFFFFF;
box-shadow: 0px -4px 40px rgba(0, 0, 0, 0.15);
position: fixed;
width: 100%;
bottom: calc(0% + 62px);
}

.mobile_place_order button{
  width: 49%;
}
.mobile_place_order button:last-child{
  padding: 6px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 36px;
  color: var(--primary-color);
  background: white;
}
.mobile_place_order button:last-child span{
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #DADADA;
}


/* ------------------------------------------- */

/* Mobile navs screen  started ----------------- */
.mobile_nav a {
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #C4C4C4;
  display: block;
  margin-bottom: 15px;
}



/* Banner1 css started */

.banner1 {
  background-image: url("../images/products/bannar.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 500px;
}

.banner1_content  h3 {
  text-transform: uppercase;
  color: #c19090;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 17px;
}
.banner1_content  p {
  text-align: center;
  max-width: 780px;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #c19090;
}
/* Banner1 css started */

/* Gap classes for this project started  */
/* -------------------------------------------- */


.gap_96{
  height: 96px;
}
.gap_64{
  height: 64px;
}
.gap_40{
  height: 40px;
}
.gap_32{
  height: 32px;
}
.gap_24{
  height: 24px;
}

/* Gap classes for this project ended--------   */
/* ----------------------------------------------------- */



/* heading clasess started  */
/* --------------------------------------------- */

.heading_1{
 color:  var(--title-color);
 font-weight: 700;
font-size: 40px;
line-height: 60px;
text-align: center;

}

/* Heading classes ended - */
/* ----------------------------------------------------- */


/* Incemental button )(red) */
button{
  border: none;
  background-color: transparent;
}
.add_to_bag {
  /* padding: 9px; */
  padding: 0px;
  text-align: center;
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  border-radius: 8px;
  border: none;
  min-height: 35px;
}

.counter_btn {
  max-width: 200px;
  display: flex;
  margin: auto;
  display: none;
  min-height: 30px;
}

.counter_btn .add_to_bag:first-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.counter_btn input {
  border: none;
  background-color: #FFEBEB;
  color: var(--primary-color);
  font-size: 18px;
  width: 50%;
}
.counter_btn .add_to_bag:last-child {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.counter_btn button{
  width: 25%;
  font-size: 20px;
}

/* Css forincremental button (red) end  */


/* Square product componenebts stareted---------------------------------------  */
/* Square product img  */
.square_product{
  filter: drop-shadow(4px 4px 40px rgba(0, 0, 0, 0.05));

}
.square_product .product_image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
 cursor: pointer;
  
}

.product_details_page{
  margin-top: 200px;

}
.product_details{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #979797;
}

.product_details p{
  margin-top: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #979797;

}

.product_price p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #44444F;
  margin-top: 12px;
}

@media screen and (max-width:768px){
  .inc_btn_2 .add_to_bag{
    font-size: 12px;
  }
  .inc_btn_2 .counter_btn input{
    font-size: 18px;
  }
}

@media screen and (max-width:500){

  .inc_btn_2 .counter_btn input, .inc_btn_2 .counter_btn .add_to_bag{
    font-size: 12px;
  }
}
@media screen and (max-width:430px){

  .inc_btn_2 .counter_btn input, .inc_btn_2 .counter_btn .add_to_bag{
    font-size: 18px !important;
  }
}

/* Square product img ended  */


/* Inc button 2  css started  */
.inc_btn_2{
  background-color: white;
}

.inc_btn_2 .side_btn{
  width: 25%;
  background: transparent;
}
.inc_btn_2 .side_btn svg{
  border-radius: 4px;
  transition: 1s;

}
.inc_btn_2 .offer_btn_wrapper{
  width: 70%;
}

.inc_btn_2 .counter_btn button{
  width: 33.33%;
  width:70%;
}
.inc_btn_2 .counter_btn input{
  width: 33.33%;
}

.inc_btn_2 .add_to_bag {
  background-color: transparent;
  border-radius: 0px;
  color: var(--primary-color);
}

.inc_btn_2 .side_btn:first-child{
  border-right: 1px solid #787E8D;
  text-align: center;
}


.inc_btn_2 .side_btn:last-child{
  border-left: 1px solid #787E8D;
}

.inc_btn_2 .counter_btn input, .inc_btn_2 .counter_btn{
  background-color: var(--primary-color);
  color: white;
  border-radius: 4px;
  width: 80%;
}

.inc_btn_2 .counter_btn .add_to_bag{
  color: white;
  font-size: 22px;
}


.active_side_btn  svg{
  background-color: var(--primary-color);
}

.active_side_btn  svg path{
  stroke: white;
}

/* Inc button 2  css ended  */



/* Square product component css has ended here ----------------------------------- */




/* We provide card started  */
.payment_footer{
  background: #EBEBEB;
}

.payment_footer .row{
  min-height: 250px;

}

.we_provide_card{
  background: #FFFFFF;
box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.05);
min-height: 140px;
padding: 18px 10px;
max-width: 190px;
width: 100%;
border-radius: 10px;

}

.we_provide_card p{
  max-width: 152px;
  margin: auto;
  width: 100%;
  color: #C4C4C4;
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
}

.we_provide_card svg{
  height: 40px;
  width: 40px;
}
.pay_with h5{
  font-style: normal;
font-weight: 500;
font-size: 18px;
/* identical to box height */
color: #B7B6B6;
  margin-bottom: 30px;
}


#product_modal .we_provide_card{
  max-width: 120px;
  width: 100%;
  margin: 5px;
  min-height: 66px;
  font-size: 10px;
  padding: 5px;

}

#product_modal .we_provide_card p{
  font-size: 10px;
  margin-top: 5px;
}

#product_modal  .we_provide_card svg {
  height: 20px;
  width: 20px;
}


#product_modal .tiny_footer_images{
  max-width: 350px;
  width: 100%;
}
#product_modal .tiny_footer_images img{
  margin: 5px;
}

@media screen and (max-width:1200px){
  .we_provide_card{
    max-width: 150px;
  }
}
@media screen and (max-width:992px){
  .we_provide_card{
    margin: 10px auto;
  }

}
/* We provide card ended  */


/* Product details componenet css started from here  */
.product_details img{
  /* box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.08);
  border-radius: 20px; */
}

.big_view{
  box-shadow: 4px 4px 40px rgb(0 0 0 / 8%);
  border-radius: 20px;
}
.details_info{
  /* max-width: 494px; */
  width: 100%;
}
.product_name_price p:first-child{
  font-weight: 500;
font-size: 24px;
line-height: 36px;
color: #44444F;
}

.product_name_price p:last-child{
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: var(--primary-color);
  
}
.product_name_price p:last-child small{
  font-size: 14px;
  line-height: 21px;
  color: #DADADA;
}

.bordered_btns_group{
  margin-top: 10px;
}
.bordered_btns_group button:first-child{
  border: 1px solid var(--primary-color);
  border-radius: 4px;
}
.bordered_btns_group button svg{
  padding: 8px;
}

.bordered_btns_group button:last-child{
 width: 80%;
}

.product_details .details p{
  font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
display: flex;
align-items: center;

color: #B7B6B6;
}

.details_btn_groups{
  max-width: 300px;
  width: 100%;
}
.single_image{
  margin: 0px 20px;
}
.single_image img {
  width: 90%;
  height: 80px;
  object-fit: contain;
}
.slick-prev {
  top: 50%;
  position: absolute;
  left: 0px;
  transform: translate(-40%, -50%) rotate(180deg);


}
.slick-next {
  top: 50%;
  position: absolute;
  right: 0px;
  transform: translate(40%, -50%);
}

.all_images img{
  box-shadow: none !important;
}
.slick-slider .slick-arrow{
background: #FFFFFF;
box-shadow: -4px 0px 40px rgba(0, 0, 0, 0.1);
padding: 5px 10px;
border-radius: 50%;
z-index: 3;
}

.slick-slider .square_product {
  max-width: 250px;
  width: 100%;
  margin: 0px 15px;
}

.big_view{

}
.big_view img{
  transition: 1s;
  height: auto;
  width: 70%;
  object-fit: cover;
  margin: auto;
}

#product_modal .modal-dialog{
  max-width: 1400px;
  width: 65%;
  margin: auto;
}

#product_modal .product_details{
  padding: 20px;
}

#product_modal .crosser svg {
  position: absolute;
  right: 7px;
  top: 15px;
  height: 16px;
  z-index: 10;
}

#product_modal .modal-content {
  padding: 0px ;
  border-radius: 10px;
  overflow: hidden;
}
#product_modal .payment_footer{
  padding: 20px;
}
/* .all_images .slick-current img{
  border:1px solid var(--primary-color)
} */

@media screen and (max-width:992px){
  #product_modal .modal-dialog{
    width: 80%;

  }
}

@media screen and (max-width:768px){
  #product_modal .modal-dialog{
    width: 95%;

  }
}


/* Product_details component ended from here  */

/*===========================Media query of common css ==============================================
=====================================================================================================- */

/* 1425px break point ------------------- */
@media screen and (max-width:1425px){
  .department_items .nav_mega_menu {
    top:158% !important;
  }

  .add_to_bag{
    font-size: 13px;
  }

}
  /* 1201 breakpoint----------------  */

  @media screen and (max-width:1200px){
    .banner_slider .slick-dots{
      top: 103%;
    }
  }


  
  @media screen and (max-width:1201px){
    #page_content{
      margin-top: 63px;
    }
    #desktop_header{
      display: none;
    }
    #mobile_header{
      display: block !important;
      z-index: 999;
    }
  



  .mobile_menu{
    display: inline-flex !important;
  }

  #footer .footer_heading h3{
    font-size: 15px;
  }

  .footer_options a{
    font-size: 14px;
  }

  .footer_logo img {
    max-width: 150px;
}

  }


/* 992 px responsive------------------- */
@media screen and (max-width:992px){


  /* Gap classes for this project started  */
/* -------------------------------------------- */


.gap_96{
  height: 48px;
}
.gap_64{
  height: 32px;
}
.gap_40{
  height: 20px;
}
.gap_32{
  height: 16px;
}
.gap_24{
  height: 12px;
}

/* Gap classes for this project ended--------   */

.loading {
  font-size: 30px;
}
.coming {
  font-size: 30px;
}

  .heading_1{
    font-size: 26px;
  }
  .heading_1 svg{
    height: 40px;
  }
  #footer{
    margin-bottom: 60px;

  }
  .top_footer .useful_links {
    max-width: 400px;
    width: 100%;
    margin: auto;
}


.add_to_bag{
  font-size: 14px;
}
.top_footer img{
  padding-top: 20px;

}

.find_store svg {
  height: 55px;
}

.tiny_footer_images img{
  margin: 0px 2px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.banner1{
  height: 400px ;
}

.banner1_content p {
  font-size: 14px ;
}



/* Modal  */
.modal_heading h3{
  font-size: 22px;
}
.modal label{
  font-size: 14px;
}
.modal input, .modal select{
  padding: 14px;
}
.modal .form_items{
  margin-bottom: 10px;
}
.modal-footer button, .modal-footer a{
  font-size: 12px;
}
.modal_head svg{
  left: 20px;
  top: 20px;
}
.modal-content{
  padding: 10px;
}
.modal_text p{
  font-size: 12px;
}
.modal_text span {
  font-size: 14px;
}


}


/* Square product  */
.square_product{
  margin: 30px 0px;
}
/* Square product  ended*/


/* 768 brakpoint ---------------- */
@media screen and (max-width:768px){

/* Gap classes for this project started  */
/* -------------------------------------------- */
.gap_96{
  height: 24px;
}
.gap_64{
  height: 16px;
}
.gap_40{
  height: 10px;
}
.gap_32{
  height: 8px;
}
.gap_24{
  height: 6px;
}
.loading {
  font-size: 20px;
}
.coming {
  font-size: 20px;
}


/* Gap classes for this project ended--------   */

  .heading_1{
    font-size: 21px;
  }
  .heading_1 svg{
    height: 30px;
  }

  .tiny_footer .tiny_text{
    font-size: 14px;
  }
  .banner1_content  h3 {
    font-size: 32px;
}
}



/* 375 brakpoint ---------------- */

@media screen and (max-width:375px){
  .footer_options a {
    font-size: 12px;
  }
}

 

/* Meadia query css ended  */