@import url(common.css);

   /*============ faq page css============ */

   .faq_heading h2:first-child{
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: var(--primary-color);
   }
   .faq_heading h2{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color:#474C5A;
    font-weight: 600;
   }
   .faq_heading p{
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #787E8D;
    opacity: 0.7;
   }

   .faq_heading{
    max-width: 725px;
    width: 100%;
    margin: auto;
   }

   .nav-link{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
    color: #787E8D;;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    border-radius: 0px;
   }
   .nav-link.active{
    color: var(--primary-color) !important;
    background-color: transparent !important;
    border: none;
    border-bottom: 2px solid var(--primary-color);
    border-radius: 0px;
   }


   .accordion-button:not(.collapsed) {
    color: var(--primary-color) !important;
    background-color: transparent;
    box-shadow: none;
    border-color: var(--primary-color) !important;
}

.accordion-button:focus {
    border-color: red;
    box-shadow: none;

}
   .accordion .accordion-item strong {
    padding-right: 15px;
}
.accordion .accordion-item {
    background: #FFFFFF;
    border: none;
    box-sizing: border-box;
    margin-bottom: 5px;
    border-radius: 7px;
}

.accordion .accordion-item .accordion-button {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    color: #000000;
}
.accordion-body p{
    color: rgba(24, 42, 68, 0.6);
}

.contact_form {
    background: rgba(187, 187, 187, 0.16);
    box-shadow: 0px 2px 15px rgba(235, 40, 40, 0.07);
    border-radius: 10px;
    padding: 40px;
}
.contact_form h5 {
    color: rgba(37, 48, 108, 1);
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 24px;
    color: rgba(255, 0, 0, 0.4);
}
.contact_form h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 50px;
    align-items: center;
    color: #474C5A;
    margin-bottom: 20px;
}
.contact_form input[type="text"] {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #A28C91;
    padding: 12px ;
    border-radius: 8px;
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    border: none;
    margin-bottom: 5px;
}
.contact_form textarea {
    border: 0px;
    padding: 20px;
    width: 87%;
    position: relative;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    margin-bottom: 20px;
}
.contact_form button {
    border: 0px;
    margin-top: 13px;
    padding: 8px 0px;
    font-weight: 500;
    font-size: 21px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    letter-spacing: 0.04em;
    text-transform: uppercase;

    /* background/light */

    color: #FAFCFE;
    border-radius: 5px;

} 
.contact_form .input-group-text {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: #fff;
    border: 0px solid #ced4da;
    border-radius: 9px;
    color: #EE333A;
    position: absolute;
    right: 0;
    transform: translate(-5%, 14%);
    z-index: 3;

}

::placeholder{
    color: rgba(24, 42, 68, 0.9);
}

.accordion-body{
    padding: 0px 3.2   rem;
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 16H27' stroke='%23FF0000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='33' viewBox='0 0 32 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 16.5H27' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 5.5V27.5' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

/* Responsive faq page  */

@media screen and (max-width: 1200px){
    .contact_form h2 {
        font-size: 26px;
        margin-bottom: 20px;
    }
    .contact_form {
        padding: 20px;
    }
    .contact_form textarea{
        margin-bottom: 20px;
    }
    .faq_heading h2 {
        font-size: 28px;
    }

}
@media screen and (max-width: 992px){

    .faq_heading h2 {
        font-size: 28px;
        line-height: 30px;
        margin-bottom: 10px !important; 
    }
    .faq_heading h2:first-child{
        margin-bottom: 15px;
        font-size: 26px;
        line-height: 30px;
    }

    .faq_heading h2 {
        font-size: 20px;
    }

    .contact_form h2 {
        font-size: 25px;
        line-height: 50px;
    }

    .nav-pills .nav-link {

        font-size: 13px;
        padding: 0px 2px;
    }
    .faq_heading p{
        margin-bottom: 15px;
    }

    .accordion .accordion-item .accordion-button {
        font-size: 16px;
        padding: 10px 8px;
        border-radius: 24px;
        font-size: 16px;
    }
    .contact_form {
        padding: 40px 21px;
    }


    p {
        font-size: 14px !important;
    }
    .accordion-button::after{
        width: 22px;
    }
}

@media screen and (max-width: 768px){

    .faq_heading h2 {
        font-size: 22px;
        margin-top: 20px;
    }

    .faq_heading h2:first-child{
        line-height: 15px;
    }


    .accordion .accordion-item .accordion-button {
        font-size: 12px;
    }

    .contact_form {
        margin-bottom: 25px;
    }


    .contact_form h2 {
        font-size: 20px;
        line-height: 40px;
        margin-bottom: 10px;
    }

    p {
        font-size: 12px !important;
    }
}